{% extends "store/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-3">
  <div class="card p-3 shadow-sm">
    <h5>Filter</h5>

    <label class="fw-bold">Category</label>
    {% for cat in categories %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="category" value="{{ cat.slug }}">
        <label class="form-check-label">{{ cat.name }}</label>
      </div>
    {% endfor %}

    <label class="fw-bold mt-3">Price</label>
    <select name="price" class="form-select">
      <option value="">Any</option>
      <option value="low">Low → High</option>
      <option value="high">High → Low</option>
    </select>

    <button class="btn btn-warning w-100 mt-3">Apply</button>
  </div>
</div>

        <div class="col-md-9">
            <h3 class="mb-3">Latest Books</h3>

            <div class="row">
                {% for book in books %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">

                        <img src="{{ book.cover.url }}"
                             class="card-img-top"
                             style="height:250px; object-fit:cover;">

                        <div class="card-body">
                            <h6>{{ book.title }}</h6>
                            <small class="text-muted">{{ book.author.name }}</small>
                            <p class="text-success fw-bold">₹{{ book.price }}</p>
                            
                            <a href="{{ book.get_absolute_url }}"
                               class="btn btn-primary w-100">
                               View Details
                            </a>
                            <a href="{% url 'store:add_to_wishlist' book.id %}"
                               class="btn btn-outline-danger w-100 mt-1">
                               ❤️ Add to Wishlist
                            </a>

                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No books found</p>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}



